@tailwind base;
@tailwind components;
@tailwind utilities;
/* Aquí puedes agregar estilos globales que afecten a toda la app */

@font-face {
  font-family: 'CocomatPro';
  src: url('/fonts/CocomatPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
